@page
@model PersonalDashboard.Pages.BlockGameModel

@{
    ViewData["Title"] = "BlockGame";
    Layout = "~/Pages/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>

<script src="~/js/BlockGame/BlockFactory.js"></script>
<script src="~/js/BlockGame/UpdateTimer.js"></script>
<script src="~/js/BlockGame/BlockGameMain.js"></script>

<br />
<div style="float: left; margin:0; padding:0">
    <canvas id="canvasGameArea"></canvas>
</div>
<div style="float: left; margin-left:10px;">
    <div id="textScore" style="font-size:20pt; font-weight:bold;"></div>
    <br />
    <br />
    <h2>Controls</h2><br />
    A - Move left<br />
    D - Move right<br />
    S - Move down<br />
    J - Rotate left<br />
    K - Rotate right<br />
    <br />
</div>

<br style="clear:both" />
<br />


