@page
@model PersonalDashboard.Pages.CreateNotesModel
@{
    ViewData["Title"] = "CreateNotes";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>CreateNotes</h2>



<form method="post">
    <div asp-validation-summary="All"></div>
    <p>NoteContent</p>
    <input asp-for="Note.Content">
    <br/>
    <input type="submit" />
</form>