
@{
    ViewData["Title"] = "BlockGame";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/BlockGame/BlockFactory.js" asp-append-version="true"></script>
<script src="~/js/BlockGame/UpdateTimer.js" asp-append-version="true"></script>
<script src="~/js/BlockGame/BlockGameMain.js" asp-append-version="true"></script>

<h2>BlockGame</h2>

<br />
<br />
<canvas id="canvasGameArea"></canvas>
<br />
<br />
<div id="textScore"></div>
